<rules name="Testing">
  <clear />

  <assembly filename="TestSite">
    <class name="customAction" type="action" className="TestSite.CustomAction"/>
  </assembly>
  
  <rule name="Always">
    <condition scope="literal" index="blah" test="equals" value="blah" />
    <normalize pathLeadingSeparator="add" pathTrailingSeparator="remove"/>  
  </rule>
  
  <rule name="Icon" stopProcessing="true">
    <match url="*.ico" patternSyntax="Wildcard" />
    <rules name="Icon">
      <rule name="Icon versions">
        <rules name="Icon versions">
          <rule name="Version 1 and 2 => version 3" stopProcessing="true">
            <conditions logicalGrouping="MatchAny">
              <condition scope="pathElement" index="-2" test="equals" value="v1"/>
              <condition scope="pathElement" index="-2" test="equals" value="v2"/>
            </conditions>
            <rewrite to="pathElement" toIndex="-2" from="literal" fromIndex="v3"/>
          </rule>
          <rule name="Version 4, 5 and 6 => version 7" stopProcessing="true">
            <conditions logicalGrouping="MatchAny">
              <condition scope="pathElement" index="-2" test="equals" value="v4"/>
              <condition scope="pathElement" index="-2" test="equals" value="v5"/>
              <condition scope="pathElement" index="-2" test="equals" value="v6"/>
            </conditions>
            <rewrite to="pathElement" toIndex="-2" from="literal" fromIndex="v7"/>
          </rule>
        </rules>
      </rule>
      <rule name="favicon" stopProcessing="true">
        <condition scope="pathElement" index="-1" test="equals" value="favicon.ico"/>
        <rewrite to="path" from="literal" fromIndex="/media/app.ico"/>
      </rule>
    </rules>
  </rule>
  
  <rule name="Must be lower case">
    <match url=".*[A-Z].*" ignoreCase="false" />
    <conditions>
      <add input="{URL}" pattern="^b/" negate="true" />
      <condition scope="pathElement" index="1" test="equals" value="__browserLink" negate="true"/>
    </conditions>
    <action type="Redirect" redirectType="301" url="{ToLower:{URL}}" appendQueryString="true" />
  </rule>
  
  <rule name="Web form" stopProcessing="true">
    <match url="*.aspx" patternSyntax="Wildcard" />
    <rewrite to="parameter" toIndex="ipAddress" from="serverVariable" fromindex="REMOTE_ADDR"/>
    <rewrite to="parameter" toIndex="method" from="serverVariable" fromindex="REQUEST_METHOD" operation="ToLower"/>
    <action type="customAction" />
  </rule>
  
  <rule name="Say hello if IIS Express" dynamic="true">
    <conditions logicalGrouping="matchAll">
      <add input="{SERVER_PORT}" pattern="53105" />
      <condition scope="path" test="startsWith" value="/hello"/>
    </conditions>
    <action type="CustomResponse" 
            statusLine="HTTP/1.1 200 OK" 
            responseLine="&lt;html&gt;&lt;head&gt;&lt;title&gt;Hello&lt;/title&gt;&lt;/head&gt;&lt;body&gt;Hello&lt;/body&gt;&lt;/html&gt;" />
  </rule>

  <rule name="InfoID Redirect" stopProcessing="true">
    <match url="^/newsblast/nb\.asp$" />
    <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
      <add input="{QUERY_STRING}" pattern="infoid=([\d]+)" />
      <add input="{QUERY_STRING}" pattern="email=(.+)" />
    </conditions>
    <action type="Redirect" url="/test1.aspx?infoid={C:1}&amp;email={C:2}" appendQueryString="false" />
  </rule>

</rules>
