<rules name="TestRules">
  <clear />
  <rule name="LowerCaseRule" stopProcessing="true">
    <match url=".*[A-Z].*" ignoreCase="false" />
    <action type="Redirect" url="{ToLower:{URL}}" />
    <conditions>
      <add input="{URL}" pattern="^b/" negate="true" />
    </conditions>
  </rule>
</rules>
