<rules name="TestRules">
  <clear />
  <rule name="Must be lower case" stopProcessing="true">
    <match url=".*[A-Z].*" ignoreCase="false" />
    <conditions>
      <add input="{URL}" pattern="^b/" negate="true" />
    </conditions>
    <action type="Redirect" url="{ToLower:{URL}}" />
  </rule>
</rules>
